@using ISD.ViewModels;
@{
    ViewBag.Title = LanguageResource.Permission_MobileScreen;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                @using (Html.BeginForm("Index", null, FormMethod.Get, new { @id = "formRolesId", @class = "isd-form-search" }))
                {
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label">@LanguageResource.Permission_RolesModel</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8 gradient">
                                        @Html.DropDownList("RolesId", null, new { @class = " form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="loading-modal"></div>
            @*@Html.Action("_AccessFormPartial", "Access", new { RoleId = "a8c06d08-16df-4188-9515-58c39d393e08" })*@
            <div id="accessForm"></div>
        </div>


    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            accessWithRoles();
        });
        //load data when change dropdownlist RolesId
        $('#RolesId').change(function () {
            loading2();
            accessWithRoles();
        });
        function accessWithRoles() {
            var roles = $('#RolesId').val();
            $.ajax({
                type: "POST",
                url: "/Permission/AccessMobile/_AccessFormPartial/" + roles,
                data: {
                    RolesId: roles,
                },
                success: function (jsonData) {
                    $("#accessForm").html(jsonData);
                },
                error: function (xhr, status, error) {
                    alertPopup(false, xhr.responseText);
                }
            });
        }

        //Update PagePermission: btn-create, btn-edit, ....
        $(document).on("click", ".funcChkBox", function () {
            loading2();
            var roles = $('select[name="RolesId"] option:selected').val();
            var page = $(this).data("mobilescreenid");
            var func = $(this).val();
            var check = $(this).prop("checked");
            $.ajax({
                type: "POST",
                url: "/Permission/AccessMobile/EditPermission",
                data: {
                    RolesId: roles,
                    MobileScreenId: page,
                    FunctionId: func,
                    Check: check,
                },
                success: function (jsonData) {
                    if (jsonData.Success == true) {
                        if (jsonData.Data != null) {
                            alertPopup(true, jsonData.Data);
                        }
                    }
                    else {
                        if (jsonData.Data != null && jsonData.Data != "") {
                            alertPopup(false, jsonData.Data);
                        }
                    }
                    accessWithRoles();
                },
                error: function (xhr, status, error) {
                    alertPopup(false, xhr.responseText);
                }
            });

        });
    </script>
}
