<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RestClient.Net" version="4.1.0" targetFramework="net452" requireReinstallation="true" />
  <package id="RestClient.Net.Abstractions" version="4.1.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Web.Mvc.Extensions" version="1.1.1.2" targetFramework="net452" />
</packages>