@model DateTime?

@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, "{0:yyyy-MM-dd}",
        new {
            @class = "form-control text-box single-line",
            type = "date",
            @ng_model = ViewData.TemplateInfo.HtmlFieldPrefix /*apply AngularJS vào*/
        })

@*<p>@ViewData.TemplateInfo.FormattedModelValue</p>*@

<span class="validation-text field-validation-error">
    @Html.ValidationMessageFor(v => v)
</span>
