<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--DEV-->
    <!--<add name="SendMailCalendarEntityDataContext" connectionString="metadata=res://*/Data.SendMailCalendarEntityDataModel.csdl|res://*/Data.SendMailCalendarEntityDataModel.ssdl|res://*/Data.SendMailCalendarEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Products-->
    <add name="SendMailCalendarEntityDataContext" connectionString="metadata=res://*/Data.SendMailCalendarEntityDataModel.csdl|res://*/Data.SendMailCalendarEntityDataModel.ssdl|res://*/Data.SendMailCalendarEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.13.2;initial catalog=ISD_iCRM_GoLive_Test;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.13.2;initial catalog=ISD_iCRM_GoLive_Test;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="NumOfMailSend" value="1000" />
    <add key="ResendAfterMinutes" value="12" />
    <add key="StartTime" value="08:00" />
    <add key="EndTime" value="20:59" />
    <add key="LogFolderPath" value="\\logs\\" />
    <add key="BounceMailFolderPath" value="\\BounceMails\\" />
    <add key="TrackingBounceMailAfterMinutes" value="60" />
    <!-- Dev -->
    <add key="NET5ApiDomain" value="https://icrm-webapi.isdcorp.vn/" />
    <add key="UnsubscribePageUrl" value="https://icrm.isdcorp.vn/Marketing/Campaign/Unsubscribe/" />
    
    <!-- Products-->
    <!--<add key="NET5ApiDomain" value="https://icrm-product-webapi.isdcorp.vn/"/>-->
    <!--<add key="NET5ApiDomain" value="https://icrm.isdcorp.vn/"/>-->
    <!--<add key="UnsubscribePageUrl" value="https://crm.ancuong.com/Marketing/Campaign/Unsubscribe/"/>-->
    <!--<add key="ConfirmLinkUrl" value="https://crm.ancuong.com/Marketing/Campaign/ConfirmEmail/"/>-->
    <add key="ConfirmLinkUrl" value="https://icrm.isdcorp.vn/Marketing/Campaign/ConfirmEmail/" />
    <add key="QRCodeUrl" value="https://icrm.isdcorp.vn/Handlers/ViewEmailCheckIn.ashx?Id=" />

    <!--Timer-->
    <!--Gửi thông báo công việc đến hạn (runs every second just like a normal clock)-->
    <add key="TimerSendNotificationTask" value="1000" />
    <!--Đồng bộ tất cả dữ liệu KH: 5min-->
    <add key="TimerSyncProfile" value="300000" />

    <!--CONNECT SAP-->
    <add key="SAPname" value="DEV" />
    <add key="SAPusername" value="ACCONNECT" />
    <add key="SAPpassword" value="ACConnect@SAP" />
    <add key="SAPclient" value="800" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.14.25" />
    <add key="SAPsystemNumber" value="01" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <!--<add key="SAPsapRouter" value="" />-->
    <add key="SAPsapRouter" value="/H/113.161.81.154" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.0" newVersion="1.8.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
