<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SendMailCalendarEntities" connectionString="metadata=res://*/Data.SendMailCalendarModels.csdl|res://*/Data.SendMailCalendarModels.ssdl|res://*/Data.SendMailCalendarModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--<add name="SendMailCalendarEntities" connectionString="metadata=res://*/Data.SendMailCalendarModels.csdl|res://*/Data.SendMailCalendarModels.ssdl|res://*/Data.SendMailCalendarModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SendMailCalendarEntities" connectionString="metadata=res://*/Data.SendMailCalendarModels.csdl|res://*/Data.SendMailCalendarModels.ssdl|res://*/Data.SendMailCalendarModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM_GoLive_Test;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SendMailCalendarEntities1" connectionString="metadata=res://*/Data.SendMailCalendarModel.csdl|res://*/Data.SendMailCalendarModel.ssdl|res://*/Data.SendMailCalendarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM_GoLive_Test;user id=icrm_user;Password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="NumOfMailSend" value="1000" />
    <add key="ResendAfterMinutes" value="60" />
    <add key="StartTime" value="08:00" />
    <add key="EndTime" value="18:00" />
    <add key="LogFolderPath" value="\\logs\\" />
    <add key="BounceMailFolderPath" value="\\BounceMails\\" />
    <add key="TrackingBounceMailAfterMinutes" value="60" />
    <!--<add key="NET5ApiDomain" value="http://192.168.100.237:3380/" />-->
    <add key="NET5ApiDomain" value="https://icrm-product-webapi.isdcorp.vn/" />
    <add key="UnsubscribePageUrl" value="https://crm.ancuong.com/Marketing/Campaign/Unsubscribe/" />
    <!--<add key="UnsubscribePageUrl" value="https://icrm.isdcorp.vn/Marketing/Campaign/Unsubscribe/" />-->
    <add key="EmailToReply" value="infoacc@ancuong.com" />
  </appSettings>
</configuration>