<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--
            BotDetect configuration:

            If your project is not going to be using the Simple API,
            the "Simple API: ..." configuration lines bellow can be safely removed.

            If your project is not going to be using the Traditional API,
            the "Traditional API: ..." configuration lines bellow can be safely removed.
        -->
    <!-- Traditional API: Register the BotDetect's Configuration section -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Company Code-->
    <add key="CompanyCode" value="2000" />
    <add key="isSerial" value="true" />
    <add key="WorkflowCode" value="BH" />
    <!--CD: Chờ duyệt-->
    <add key="defaultStatusCode" value="CD" />
    <add key="APIDomainUrl" value=" http://icrmapi.isdcorp.vn/" />
    <add key="DomainUrl" value="https://icrm.isdcorp.vn" />
    <!--<add key="APIDomainUrl" value="http://testicrm-api.isdcorp.vn/" />-->
    <!--<add key="DomainUrl" value="http://testicrm.isdcorp.vn" />-->
    <add key="DomainSMSAPI" value="https://api.brandsms.vn/api/SMSBrandname" />
    <add key="DocumentDomain" value="http://testicrm.isdcorp.vn/Upload/" />
    <add key="TokenAnCuong" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c24iOiJhbmN1b25ncWMiLCJzaWQiOiI2ZjUwYWFlNi0yMGM5LTQwMGEtYjgzMC1lODUxYTkwZTU2MTgiLCJvYnQiOiIiLCJvYmoiOiIiLCJuYmYiOjE1OTE3NTQxOTAsImV4cCI6MTU5MTc1Nzc5MCwiaWF0IjoxNTkxNzU0MTkwfQ.3-w9X4jcO_2bBqbJNg-7lqCmXn4sWp98C2jX9AVXihQ" />
    <add key="TokenMalloca" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c24iOiJiYWNoaG9wIiwic2lkIjoiNjY1ZmJjYTEtZTJlNS00OGM5LThlYTQtODA3NmE1MDI2ZDk4Iiwib2J0IjoiIiwib2JqIjoiIiwibmJmIjoxNTkxNzU0Njc4LCJleHAiOjE1OTE3NTgyNzgsImlhdCI6MTU5MTc1NDY3OH0.di6ZtVR75DkRdlWOKeGxiYRckg7ArMm_th58itU3YSM" />
    <add key="TokenAconcept" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c24iOiJhY29uY2VwdCIsInNpZCI6IjE0YjhhYWNmLWM4N2MtNDY2MC04MTcwLTYzMDE1NDYxMDA4NyIsIm9idCI6IiIsIm9iaiI6IiIsIm5iZiI6MTU5MTc1NDQ2NiwiZXhwIjoxNTkxNzU4MDY2LCJpYXQiOjE1OTE3NTQ0NjZ9.GVPZufLqnJRoPLvJPbs_YsF-2T_4HjjIXHQEmcSRtWY" />
    <!--<add key="TokenAconcept" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c24iOiJhY29uY2VwdCIsInNpZCI6IjE0YjhhYWNmLWM4N2MtNDY2MC04MTcwLTYzMDE1NDYxMDA4NyIsIm9idCI6IiIsIm9iaiI6IiIsIm5iZiI6MTU5MDEyMjg4NiwiZXhwIjoxNTkwMTI2NDg2LCJpYXQiOjE1OTAxMjI4ODZ9.NLMDAylFVh3sVSWKDVALwOnhRQHYKp7pFFGmSK6tAZs" />-->
    <add key="isSentSMS" value="true" />
    <!--CONNECT SAP-->
    <add key="SAPname" value="DEV" />
    <add key="SAPusername" value="ACCONNECT" />
    <add key="SAPpassword" value="ACConnect@SAP" />
    <add key="SAPclient" value="800" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.14.25" />
    <add key="SAPsystemNumber" value="01" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <!--<add key="SAPsapRouter" value="" />-->
    <add key="SAPsapRouter" value="/H/113.161.81.154" />
  </appSettings>
  <connectionStrings>
    <!--DEV-->
    <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM_Dev;User Id=sa; Password=123@abcd;" />
    <!--TEST-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM;User Id=sa; Password=123@abcd;" />-->
    <!--THẬT-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=115.79.5.215;Database=ISD_iCRM;User Id=icrm_user; Password=123@abcd;" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
    <httpHandlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!-- Traditional API: Register a custom SessionIDManager for BotDetect requests -->
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
    <!-- Traditional API: Ensuring Session State is enabled -->
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="SimpleCaptchaEndpoint" />
      <add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
</configuration>