<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--DEV-->
    <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM_Dev;User Id=sa; Password=123@abcd;" />

    <!--TEST-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM;User Id=sa; Password=123@abcd;" />-->

    <!--GO LIVE-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM_GoLive_Test;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=115.79.5.215;Database=ISD_iCRM_GoLive_Test;User Id=icrm_user; Password=123@abcd;" />-->

    <!--THẬT-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=115.79.5.215;Database=ISD_iCRM;User Id=icrm_user;Password=123@abcd;" />-->
  </connectionStrings>
  <appSettings>
    <!--CONNECT SAP-->
    <add key="SAPname" value="DEV" />
    <add key="SAPusername" value="ACCONNECT" />
    <add key="SAPpassword" value="ACConnect@SAP" />
    <add key="SAPclient" value="800" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.14.25" />
    <add key="SAPsystemNumber" value="01" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <!--<add key="SAPsapRouter" value="" />-->
    <add key="SAPsapRouter" value="/H/113.161.81.154" />

    <!--Timer-->
    <!--Gửi thông báo công việc đến hạn (runs every second just like a normal clock)-->
    <add key="TimerSendNotificationTask" value="1000" />
  </appSettings>
</configuration>
