<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--DEV-->
    <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM_Dev;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM_Dev;User Id=sa; Password=123@abcd;" />
    
    <!--TEST-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.233;initial catalog=ISD_iCRM;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=192.168.100.233;Database=ISD_iCRM;User Id=sa; Password=123@abcd;" />-->

    <!--GO LIVE-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM_GoLive_Test;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=115.79.5.215;Database=ISD_iCRM_GoLive_Test;User Id=icrm_user; Password=123@abcd;" />-->

    <!--THẬT-->
    <!--<add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.5.215;initial catalog=ISD_iCRM;persist security info=True;user id=icrm_user;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnStr" providerName="System.Data.SqlClient" connectionString="Server=115.79.5.215;Database=ISD_iCRM;User Id=icrm_user;Password=123@abcd;" />-->
  </connectionStrings>
  <appSettings>
    <!--CONNECT SAP-->
    <add key="SAPname" value="DEV" />
    <add key="SAPusername" value="ACCONNECT" />
    <add key="SAPpassword" value="ACConnect@SAP" />
    <add key="SAPclient" value="800" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.14.25" />
    <add key="SAPsystemNumber" value="01" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <!--<add key="SAPsapRouter" value="" />-->
    <add key="SAPsapRouter" value="/H/113.161.81.154" />

    <!--Timer-->
    <!--Sync Master data-->
    <add key="Timer1" value="7200000" />
    <!--Sync Profile-->
    <add key="Timer2" value="7200000" />
    <!--Sync Material-->
    <add key="Timer3" value="3600000" />
    <!--Sync Material Detail-->
    <add key="Timer4" value="3600000" />
    <!--Sync Contact-->
    <add key="TimerContact" value="43200000" />

    <!--Nếu đồng bộ lần đầu: 1-->
    <add key="FirstSync" value="0" />

    <!--Debug-->
    <add key="isDebug" value="true" />
    <add key="CAG" value="Z002" />

    <!--From Date sync profile-->
    <add key="FromDateSyncProfile" value="2" />
    <add key="ToDateSyncProfile" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
