<script type="text/x-kendo-template" id="tmplRecordProcessingNotePrint">
    <style>
        .note-template {
            margin: 10px;
            padding: 0px;
        }

            .note-template div, table {
                font-family: 'Arial';
                font-size: 13px;
                margin: 0;
                padding: 0;
                margin-bottom: 3px;
            }

            .note-template h3 {
                font-family: 'Arial';
                font-size: 40px;
                margin: 0;
                padding: 0;
            }

            .note-template h4 {
                font-family: 'Arial';
                font-size: 15px;
                font-weight: bold;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
            }
    </style>
    <div class="note-template">
        <div style="text-align:center;">
            <h4>PHIẾU GHI CHÚ</h4>
        </div>
        <div style="clear: both"></div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Chi nhánh:</strong> #= SaleOrgName #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Khách hàng:</strong> #= CustomerName #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Số CMND:</strong> #= CMND #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Ngày cấp CMND:</strong> #= NgayCap #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Ngày/Tháng/Năm sinh:</strong> #= NgayThangNamSinh #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Địa chỉ:</strong> #= DiaChi #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Mã xe:</strong> #= MaterialCode #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Tên xe:</strong> #= MaterialName #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Số khung:</strong> #= ChassisNumber #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Số máy:</strong> #= EngineNumber #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Ngày bán:</strong> #= CreatedDateString #</div>
        <div style="clear: both"></div>

        <div style="float: left"><strong>Ghi chú:</strong> #= Note #</div>
        <div style="clear: both"></div>
    </div>
</script>
