<script type="text/x-kendo-template" id="tmplSaleOrderPrint">
    <style>
        .invoice-template {
            margin: 0;
            padding: 0px;
        }

            .invoice-template div, table {
                font-family: 'Arial';
                font-size: 12px;
                margin: 0;
                padding: 0;
            }

            .invoice-template h3 {
                font-family: 'Arial';
                font-size: 40px;
                margin: 0;
                padding: 0;
            }

            .invoice-template h4 {
                font-family: 'Arial';
                font-size: 14px;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }

                .invoice-template h4.Note {
                    font-family: 'Arial';
                    font-size: 26px;
                    padding: 0;
                }
    </style>
    <div class="invoice-template">
        <div style="text-align:center;">
            <h4>PHIẾU BÁN XE</h4>
            <h4>(HOẶC ĐẶT CỌC MUA XE)</h4>
        </div>
        <div style="clear: both"></div>
        <div style="clear: both"></div>

        <div style="float: right">Ngày: #= CreatedDateText #</div>
        <div style="clear: both"></div>

        <div style="float: left">Họ & Tên Khách Hàng: <strong>#= CustomerName #</strong></div>
        <div style="clear: both"></div>

        <div style="float: left">Địa chỉ: <strong>#= CustomerFullAddress #</strong></div>
        <div style="clear: both"></div>

        <div style="float: left">Loại xe: <strong>#= ProductHierarchy #</strong></div>
        <div style="float: right">Màu: <strong>#= MaterialFreightGroup #</strong></div>
        <div style="clear: both"></div>

        # if (accessoryDetail != null && accessoryDetail.length > 0){#
        <div style="float: left">Phụ kiện gắn theo xe: <strong>Có</strong></div>
        #} else {#
        <div style="float: left">Phụ kiện gắn theo xe: <strong>Không</strong></div>
        #}#
        <div style="clear: both"></div>

        @*Lệ phí trước bạ + phí khác = Tổng lệ phí + BH Cứu hộ xe máy + Phụ kiện*@
        <div style="float: left">Lệ phí trước bạ + phí khác:</div>
        <div style="float: right"><strong>#= FeeTotalText #</strong></div>
        <div style="clear: both"></div>

        <div style="float: left">Giá xuất giao:</div>
        <div style="float: right"><strong>#= SalePriceText #</strong></div>
        <div style="clear: both"></div>

        <div style="float: left">Tổng cộng:</div>
        <div style="float: right"><strong>#= TotalPriceText #</strong></div>
        <div style="clear: both"></div>

        <table style="width:100%;">
            <tbody>
                <tr>
                    <td>
                        Khách hàng đồng ý
                    </td>
                    <td>
                        NV bán hàng
                    </td>
                </tr>
                <tr>
                    <td>
                        (kí & ghi rõ họ tên)
                    </td>
                    <td>
                        (kí & ghi rõ họ tên)
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        NV lắp ráp
                    </td>
                    <td>
                        NV giao dịch giấy tờ
                    </td>
                </tr>
                <tr>
                    <td>
                        (kí & ghi rõ họ tên)
                    </td>
                    <td>
                        (kí & ghi rõ họ tên)
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
            </tbody>
        </table>
        <div style="clear: both"></div>

        <div style="float: left"><strong><u>Lưu ý</u></strong></div>
        <div style="clear: both"></div>
        <div style="float: left">*Nhân viên giao dịch giấy tờ phải cập nhật đầy đủ này gửi về Công ty (Hằng lớn) để đối chiếu sổ sách.</div>
        <div style="clear: both"></div>
        <div style="float: left">*Khách hàng đã đồng ý giá xuất theo hóa đơn đỏ.</div>
        <div style="clear: both"></div>
        <div style="float: left">*Khách hàng đã đồng ý, kiểm tra xe thay đổi màu sơn, bánh căm hoặc mâm và xe không trầy xước (nếu có); kiểm tra phụ kiện đồ nghề trước khi nhận xe ra khỏi chi nhánh.</div>
        <div style="clear: both"></div>
        <div style="float: left">*Xe mới 100% được bảo hành theo tiêu chuẩn của nhà sản xuất; khách hàng không được đổi trả xe ra khỏi chi nhánh.</div>
        <div style="clear: both"></div>
        <div style="float: left">*Xe đã đặt cọc khách hàng không được trả lại hoặc đổi xe khác chủng loại.</div>
        <div style="clear: both"></div>
        <div style="float: left">*Nếu khách hàng đặt cọc quá 10 ngày không đến lấy xe coi như mất tiền cọc.</div>
    </div>
</script>
